@import "reset.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700";
body {
    font: 400 100%/1.4 'PT Sans Narrow', 'Open Sans', Arial, sans-serif;
    background: rgb(230, 227, 227);
    background: rgb(143, 24, 64);
    color: white;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

.game {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.selection {
    display: flex;
    justify-content: center;
}

.tafelSelectie {
    display: flex;
    justify-content: center;
}

.oefening {
    display: flex;
    justify-content: center;
}

.response p {
    display: flex;
    justify-content: center;
}

.unlist {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.input {
    display: flex;
    justify-content: center;
}

.img {
    display: flex;
    justify-content: center;
}

.unlist li {
    display: inline;
}

h1 {
    display: flex;
    justify-content: center;
}

a {
    color: white;
}

span {
    padding-right: 1px;
}

.tekst {
    font-size: 25px;
    font-weight: 500;
}

.tafel {
    color: blue;
}

.product {
    color: yellow;
}

.symbool {
    color: red;
}